{{#units}}
<div class="media">
    <range-finder query="{{../name}}" decimals="{{../decimals}}" unit="{{.}}">
        @media ({{../name}}) <i>JavaScript Required</i>
    </range-finder>
</div>
{{/units}}
{{> description}}
